// COLOR VARIABLES
$color-primary: hsl(32, 46%, 58%);
$color-primary-dark: hsl(31, 39%, 50%);

$color-secondary: hsl(213, 47%, 11%);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: hsl(0, 0%, 66%);

$color-grey-dark-1: hsl(32, 18%, 27%);
$color-grey-dark-2: hsl(32, 18%, 35%);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;