.homes {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0;
}

.home {
  background-color: $color-grey-light-1;

  &__img {
    width: 100%;
  }

  &__like {
    width: 1rem;
    height: 1rem;
  }

  &__name {
    font-size: 2rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {

    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
    }

    p {
      font-size: 1.6rem;
    }
  }
}