.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;

  @media only screen and (max-width: $bp-medium) { grid-column: full-start / full-end; }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-medium) { grid-template-columns: repeat(6, max-content); }

    @media only screen and (max-width: $bp-small) { grid-template-columns: repeat(2, max-content); }
  }

  &__img {
    height: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    color: $color-grey-light-2;
    text-transform: uppercase;
    margin-top: -3px;
  }
}